<div class="bottom-player-container">
  <div class="album">
    <img src="../../assets/maroon5.png" alt="maroon5" class="album-cover" />
    <div class="song-details">
      <span class="song-name">Payphone</span>
      <span class="singer">Maroon V</span>
    </div>
  </div>
  <div class="song-control-container">
    <div class="music-btn">
      <i class="fa-solid fa-backward song-btn"></i>
      <i class="{{ playClass }} song-btn"></i>
      <i class="fa-solid fa-forward song-btn"></i>
    </div>
  </div>
</div>
